<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script> -->

    </head>
    <body class="auth_class">

        <div class="container login-container">
            <!-- <img class="triangleA" src="" alt='Onestop triangle'> -->
          <div class="row">
            <!-- <div class="col-md-6 welcome_auth">
                <div class="auth_welcome">
                    Find more bootstrap 4 components & templates on <span><a href="">procraft.studio</a></span>
                </div>
            </div> -->
            <div class="col-md-12 login-form">
                <div class="login_form_in">
                    <!-- <div class="auth_branding">
                        <a class="auth_branding_in" href=""><img src="" alt='Procraft Studio'></a>
                    </div> -->
                  <h2 class="auth_title">Password Reset</h2>
                  <form [formGroup]="forgotPasswordForm">
                    <div class="alert alert-success bg-soft-primary border-0" role="alert">
                        Enter your email address and we'll send you an email with instructions to reset your password.
                    </div>
                    <div class="form-group">
                      <input type="email" matInput formControlName="email" class="form-control" placeholder="Email Address" required>
                      <mat-error *ngIf= "forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid">
                        <span *ngIf=forgotPasswordForm.controls.email.errors.required>This field is mandatory.</span>
                        <span *ngIf=forgotPasswordForm.controls.email.errors.pattern>This field is invalid.</span>
                    </mat-error>
                    </div>
                    <div class="form-group other_auth_links">
                        <!-- <a class="" href="">Login</a>
                        <a class="" href="">Register</a> -->
                    </div>
                  </form>
                  <div class="form-group text-center mb-2 mt-4">
                    <button type="button" mat-raised-button class="btn btn-primary btn-lg btn-block password-button" (click)="handleSubmit()" [disabled]="!(forgotPasswordForm.valid && forgotPasswordForm.dirty)">Reset Password</button>
                    <button mat-raised-button class="btn btn-primary btn-lg btn-block ml-2" mat-dialog-close>Close</button>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <!-- <img class="triangleB" src="" alt='Onestop triangle'> -->
    </body>

</html>
