.auth_class {
  background-color: rgb(165, 148, 142);
   position: absolute;
   width: 36%;
   margin-left: 32%;
   margin-top:-33%;
}

.password-button {
  margin-right:13px;
}

.snack-bar-container {
  position: absolute;
  margin-top: -45%;
}
